.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #e9ffa2;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #eb431e;
}

p {
  font-size: 2rem;
  color: #983804;
  font-family: "", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #921010;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
